.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  background-color: sandybrown;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
}
