.create-form {
  border: 1px solid #000;
  border-radius: 10px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  background-color: aquamarine;
  margin: 1rem;
  padding: 1rem;
}

#create-page {
  min-height: 100vh;
}

.tags-container {
  text-align: center;
}
.label {
  margin: 0 10px 0 5px;
}

.add-card {
  align-self: center;
}

#add-question,
#add-answer {
  width: 100%;
}
